.App__CitySearchContainer {
  margin: 15vh auto 0 auto;
}

.App__Loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  align-items: center;
  width: 80%;
  min-height: 20vh;
  margin: 0 auto;
}
